@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(//fonts.googleapis.com/css?family=Volkhov:400italic);
@import url(//fonts.googleapis.com/css?family=Cinzel:400);
@import url(//fonts.googleapis.com/css?family=Cormorant+Garamond);

/* var text-decoration */
/*--
  Common Css
--*/
html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
li {
  font-size: 18px;
  line-height: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}

.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 600;
}
/*--
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
--*/
.section-title p {
  font-family: 'Open Sans', serif;
  font-style: regular;
  color: #C9C1B3;
}

/*--
  Header Start 
--*/

header {
/*  background: #0D0C0C;
*/
}

header .navbar {
  border: 0px;
}
header .navbar-brand {
  display: inline-block;
  float: left;
}
header .navbar-menu {
  display: inline-block;
  float: right;
}
header .navbar-brand img {
  height: 80px;
  width: auto;
  padding: 1px 0 5px 0;
}
header .navbar-menu img {
  height: auto;
  width: 50px;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 5px 10px 15px 10px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  /*--flex-wrap: wrap;--*/

}
header .navbar-default .navbar-nav li a {
}
header .navbar-default .navbar-nav li a:hover {
  color: #E0C187;
}

header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../img/menucover.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  transition: 0.5s;
}

header .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

header .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #C9C1B3;
  display: block;
  transition: 0.3s;
}

header .overlay a:hover, .overlay a:focus {
  text-decoration-color: #F9C16D;
  text-decoration: underline !important;
}

header .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#home {
  background-image: url("../img/cover1.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 0;
  vertical-align: middle;
}

#home .container .media {
  height: 600px;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
  vertical-align: middle;
}

#home h1 {
  width: 60%;
  margin-top: 10rem;
  font-family: "Open Sans", Roboto;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 5rem;
  color: #C9C1B3;
  text-align: center;
}

#home .scroll-down {
  display: block;
  width: 60%;
  margin-top: 50px;
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
  text-align: center;
}

#our-story {
  position: relative;
  background-image: url("../img/cover2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 0;
}

#our-story .story-desc {
  position: inherit;
  margin-left: 17%;
  vertical-align: middle;
  text-align: left;
  width: 50%;
}

#our-story h1 {
  color: #5B574F;
  margin-top: 15rem;
  font-family: "Open Sans", regular;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 15rem;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 5rem;
}

#our-story p {
  color: #C9C1B3;
  font-family: "Open Sans", regular;
  letter-spacing: 0.01rem;
  vertical-align: middle;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-left: 5px;
  width: 80%;
}

#our-story a {
  font-size: 1.5rem;
  font-family: "Open Sans", regular;
  color: #C9C1B3;
  text-decoration: none;
  border-bottom: 1px solid #F9C16D;
  text-align: right;
  width: 80%;
  left: 0;
}

#vineyards {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 0;
    align-items: center;
    background: #222 no-repeat center center;
}

#vineyard-video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter:opacity(20%);
}

#vineyards .story-desc {
  position: relative;
  width: 60%;
  align-content: center;
  margin-left: 20%;
}

#vineyards .story-desc h1 {
  font-family: "Open Sans", regular;
  font-size: 4rem;
  color: #C9C1B3;
  margin-bottom: 5rem;
}

#vineyards  a {
  font-size: 1.5rem;
  font-family: "Open Sans", regular;
  color: #C9C1B3;
  text-decoration: none;
  border-bottom: 1px solid #F9C16D;
}

#our-wines {
  position: relative;
  background-image: url("../img/cover4.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#our-wines .wine-desc {
  position: relative;
  top: 1em;
  left: 10%;
}

#our-wines .wine-desc a {
  margin-right: 5rem;
}

#our-wines .wine-carousel {
  position: absolute;
  top: 50%;
  right: 1px;
  text-align: center;
}

#our-wines .wine-carousel img {
  width: 140px;
  padding-right: 50px;
}

#our-wines h1 {
  color: #5B574F;
  margin-top: 5rem;
  font-family: "Open Sans", regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  line-height: 12rem;
  vertical-align: middle;
  text-align: right;
  margin-bottom: 2rem;
  width: 80%;
}

#our-wines p {
  color: #C9C1B3;
  font-family: "Open Sans", regular;
  letter-spacing: 1px;
  vertical-align: middle;
  text-align: left;
  margin-top: 15rem;
  margin-left: -5rem;
  width: 80%;
}

#testimonial {
  position: relative;
  background-image: url("../img/cover5.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
}

#testimonial .story-desc {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-top: 25%;
  z-index: 2;
}

#testimonial .story-desc h1 {
  font-family: "Open Sans", Roboto;
  font-size: 2rem;
  line-height: 3rem;
  color: #C9C1B3;
  margin-bottom: 5rem;
}

#testimonial .story-desc p {
  font-family: "Open Sans", Regular;
  font-size: 1.5rem;
  color: #C9C1B3;
}

#journey-home {
  background: #1B1B1B no-repeat center center;
  margin-bottom: 0;
  vertical-align: middle;
  align-items: center;
}

#journey-home h1 {
  color: #5B574F;
  margin-top: 12rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  line-height: 12rem;
  vertical-align: middle;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 5rem;
  width: 80%;
}

#journey-home .journey-text {
  width: 60%;
  margin-left: 20%;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 10rem;
}

#journey-home p {
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 1.5rem;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 3rem;
}

#journey-home .journey-img {
  height: 100%; 
  width: 100%; 
  object-fit: contain;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#vision {
  background-image: url("../img/cover6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#vision .vision-text {
  color: #C9C1B3;
  text-align: center;
  margin-top: 20rem;
  width: 60%;
  margin-left: 20%;
}

#vision h1 {
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  font-family: "Open Sans", Regular;
}

#vision h2 {
  letter-spacing: 0.1px;
  line-height: 6rem;
  font-weight: 300;
  font-size: 4rem;
  font-family: "Open Sans", Regular;
}

#vision p {
  font-size: 1.5rem;
  line-height: 3rem;
}

#values {
  background: #1B1B1B no-repeat center center;
  margin-bottom: 0;
  vertical-align: middle;
  align-items: center;
}

#values h1 {
  color: #5B574F;
  margin-top: 12rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  line-height: 12rem;
  vertical-align: middle;
  text-align: center;
  margin-left: 20%;
  margin-bottom: 5rem;
  width: 30%;
}

#values img {
  float: right;
  width: 40rem;
  height: auto;
  margin-top: -25%;
  margin-right: 20rem;
}

#values .values-text {
  width: 30%;
  margin-left: 20%;
  color: #C9C1B3;
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 10rem;
}

#values h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2rem;
  font-family: "Open Sans", Regular;
}

#values p {
  font-size: 1.3rem;
  font-family: "Open Sans", Regular;
  margin-bottom: 5rem;
}

#vineyard-home {
  /*background: #1B1B1B no-repeat center center;*/
  background-image: url("../img/cover7.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#vineyard-home h1 {
  position: relative;
  color: #C9C1B3;
  margin-top: 12rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  line-height: 12rem;
  text-align: left;
  margin-left: 2rem;
  width: 50%;
}

#vineyard-home .vineyard-img {
  position: relative;
  filter: opacity(36%);
  width: 100rem;
  height: auto;
  float: right;
  top: 0;
  margin-right: -2rem;
}

#vineyard-fronsac, #vineyard-bordeaux, #vineyard-emilion, #vineyard-pomerol, #vineyard-medoc {
  background: #1B1B1B no-repeat center center;
  margin-bottom: 0;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 5rem;
}

#vineyard-fronsac .fronsac-img, #vineyard-bordeaux .fronsac-img, #vineyard-emilion .fronsac-img, #vineyard-pomerol .fronsac-img, #vineyard-medoc .fronsac-img {
  margin-top: 12rem;
  width: 50%;
  float: left;
}

#vineyard-fronsac ul, #vineyard-bordeaux ul, #vineyard-emilion ul, #vineyard-pomerol ul, #vineyard-medoc ul {
  list-style-image: url("../img/list.png");
  margin-left: 35%;
}

#vineyard-fronsac ul li, #vineyard-bordeaux ul li, #vineyard-emilion ul li, #vineyard-pomerol ul li, #vineyard-medoc ul li {
  margin: 4rem;
  line-height: 4rem;
}

#vineyard-fronsac h1, #vineyard-bordeaux h1, #vineyard-emilion h1, #vineyard-pomerol h1, #vineyard-medoc h1 {
  position: absolute;
  color: #C9C1B3;
  margin-top: 50rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  line-height: 12rem;
  text-align: right;
  width: 75%;
}

#vineyard-fronsac h2, #vineyard-bordeaux h2, #vineyard-emilion h2, #vineyard-pomerol h2, #vineyard-medoc h2 {
  position: absolute;
  color: #C9C1B3;
  margin-top: 50rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 10rem;
  line-height: 9rem;
  text-align: right;
  width: 80%;
}

#vineyard-fronsac h3, #vineyard-bordeaux h3, #vineyard-emilion h3, #vineyard-pomerol h3, #vineyard-medoc h3 {
  position: absolute;
  color: #5B574F;
  font-family: "Open Sans", Regular;
  font-size: 4rem;
  font-weight: 400;
  margin-left: 35%;
}

#vineyard-fronsac .sand-grape-type, #vineyard-bordeaux .sand-grape-type, #vineyard-emilion .sand-grape-type, #vineyard-pomerol .sand-grape-type, #vineyard-medoc .sand-grape-type {
  margin-left: 35%;
  padding-top: 10rem;
  padding-left: 1rem;
}

#vineyard-fronsac .sand-grape-type img, #vineyard-bordeaux .sand-grape-type img, #vineyard-emilion .sand-grape-type img, #vineyard-pomerol .sand-grape-type img, #vineyard-medoc .sand-grape-type img  {
  display: inline-block;
  width: 10rem;
}

#vineyard-fronsac .sand-grape-type h4, #vineyard-bordeaux .sand-grape-type h4, #vineyard-emilion .sand-grape-type h4, #vineyard-pomerol .sand-grape-type h4, #vineyard-medoc .sand-grape-type h4 {
  display: inline-block;
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 4rem;
}

#vineyard-fronsac .vineyard-txt, #vineyard-bordeaux .vineyard-txt, #vineyard-emilion .vineyard-txt, #vineyard-pomerol .vineyard-txt, #vineyard-medoc .vineyard-txt {
  position: relative;
  color: #C9C1B3;
  margin-top: 70rem;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

#wine-detail {
  background: #1B1B1B no-repeat center center;
  margin-bottom: 0;
  vertical-align: middle;
  align-items: center;
}

#wine-detail .wine-control {
  vertical-align: middle;
  margin-top: 20%;
}

#wine-detail .wine-control a:hover {
  border-bottom: 1px solid #F9C16D;
}

#wine-detail a {
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
}

#wine-detail h1 {
  color: #5B574F;
  font-family: "Open Sans", Regular;
  font-size: 5rem;
}

#wine-detail .wine-desc h1 {
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13rem;
  margin-top: -20px;
}

#wine-detail .wine-desc h2 {
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 8rem;
  margin-top: -10px;
}

#wine-detail .wine-desc p {
  color: #C9C1B3;
  font-family: "Open Sans", Regular;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 50px;
}

#wine-detail .wine-desc a {
  color: #C9C1B3;
  font-family: "Open Sans", Bold;
  padding: 20px;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.5rem;
  border: 1px solid #C9C1B3;
}

#wine-detail .wine-desc img {
  width: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sidebar .nav-side-menu {
  padding-top: 50rem;
  flex-wrap: nowrap;
  overflow: auto;
  position: fixed;
  height: 100%;
  z-index: 2;
}

#sidebar .nav-side-menu .menu-list .menu-content {
  display: block;
  text-align: left;
}

#sidebar .nav-side-menu ul li a {
  font-size: 1.5rem;
  font-family: "Open Sans", Regular;
  line-height: 5rem;
  color: #5B574F;
  text-decoration: none;
}

#sidebar .nav-side-menu ul li a:hover {
  color: #C9C1B3;
  border-bottom: 1px solid #F9C16D;
}

@media (min-width: 768px) and (max-width: 1024px) {
#home .container .media {
  height: 500px;
  margin-top: 0.5em;
}
#our-story h1 {
  margin-top: 12rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 8rem;
  margin-bottom: 2rem;
}
#our-story p {
  letter-spacing: 0.01rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 5px;
}
#our-story a {
  font-size: 1rem;
}
}

@media (min-width: 375px) and (max-width: 767px) {
#home .container .media {
  height: 300px;
  margin-top: 0.5em;
}
#our-story h1 {
  margin-top: 7rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
}
#our-story p {
  letter-spacing: 0.01rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 5px;
}
#our-story a {
  font-size: 1rem;
}
}

/*--
  footer Start 
--*/
footer {
  background: #222;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
}
footer .footer-brand {
  display: inline-block;
  float: left;
}
footer .footer-connect {
  display: inline-block;
  top: 1.5rem;
  vertical-align: middle;
  text-align: right;
}
footer img {
  width: 70px;
  height: auto;
}
footer .fab {
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: #C9C1B3;
  margin-left: 2rem;
}
footer p {
  color: #C9C1B3;
  font-family: "Open Sans", regular;
}