<!-- Slider Start -->
<section id="journey-home">
  {% include nav.html %}
  <section class="journey">

    <div>
      <h1>The Beginning....</h1>
      <h2>The origin</h2>
      <p>
        The Latin phrase “Omne trium perfectum” translates to everything that comes in threes is perfect or complete.
      </p>
      <p>That was how the name Les Trois was chosen not only with an aim towards perfection but also incorporating our mission, vision and values of our company.
      </p>
      <p style="text-align:center;"> “Weather, Terroir and the People” <br>
         ~The three key elements to making perfect wines ~
      </p>
      <h2>The Journey</h2>
      <p>
        It all started a decade ago with a small wine management company in Bordeaux. It was a challenging journey but it opened doors and led us to gaining deep insight on the French wine industry.  The experience was priceless.
      </p>

      <p>
        Along the journey, we continued to grow using our extensive research and knowledge in viticulture from grasping the concept of terroir to the finer details of the vinification process.
      </p>

      <p>
        We are blessed to have continuing deep mutual relationship with our skilled winemakers with shared values that taught us every wine has its worth and presence. And it is not measured by its price tag.
      </p>

      <p>
        With all above, we learned to adapt, change and improve over the years and now to revolutionise. 
      </p>

      <p>
        At Les Trois, we believe fine wines are exclusively crafted while retaining its unique heritage and character.
      </p>

      <img class="journey-img" src="img/journey.jpg" />
    </div>

  </section>
  
  <section class="mission">

    <div>
      <h2>Mission</h2>

      <p>
        We are passionate about creating the finest wines and we go great lengths to ensure our wines meet high standard of quality.
      </p>
      <p>
        “Sharing is Caring” a simple phrase that inspires us towards the establishment of Les Trois. 
      </p>
      <p>
        We believe sharing cultivates a mutual relationship and building deeper sense of connection with people and cultures. It also gives a sense of responsibility towards the society and we would like to inculcate the act of sharing starting with our wines.
      </p>
      <p>
        Our passion for wines is simply rivaled by our love of sharing it with our friends.<br>
        There is no greater pleasure than drinking good wine with close friends in company and creating special moments that are unforgettable.
      </p>
      <p>
        At Les Trois, we would like the privilege to be your friend.
      </p>
    </div>

  </section>
</section>