<section id="vineyard-medoc" class="vineyard">
	<div class="yard-desc">
            <div class="yard-center">
                <h2>Médoc</h2>
                <ul class="yard_ul">
                    <li>
                        One of the key appellations in the left bank of Bordeaux. Located
                        between the Atlantic Ocean and the Gironde, covering an area of
                        16,500 hectares, origin of the name comes from the Latin word
                        ‘inmédio-aquae’ which means ‘between the waters’. This has
                        accentuated the abundance of water around the Médoc appellation.
                    </li>
                    <li>
                        Médoc has an alluvial soil composition of mainly sand, clay and
                        gravel, it became a unique terrain in the Left Bank. Furthermore,
                        the high gravel content also allows a good natural drainage.
                    </li>
                    <li>
                        Médoc is planted with Cabernet Sauvignon and Merlot, and to a
                        lesser extent Petit Verdot and Malbec (locally called "Côt"). Also
                        allowed within the AOC regulations are the varieties Cabernet
                        Franc and Carmenere.
                    </li>
                    <li>
                        Top wineries like Château Lafite Rothschild, Château Latour,
                        Château Haut-Brion, Château Margaux are all located in the Left
                        Bank.
                    </li>
                    <li>
                        Wines produced from this appellation are delicate, they deliver
                        fruit scents and flavors of cassis, blackberry, dark cherry,
                        vanilla, coffee bean, spice and licorice; often tannic when young,
                        harmonious and splendid when matured.
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/claylimestone.png" />
                        <span>Clay lime stone</span>
                    </li>

                    <li>
                        <img src="img/argile.png" />
                        <span>Argile</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>

        <div class="yard-photo">
            <img src="{{ site.baseurl }}img/medoc.jpg" />
        </div>
</section>
