<header>
  <div class="logo">
      <a href="index.html">
        <img src="img/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="menu">
      <a onclick="openNav()">
        <img src="img/menu.png" alt="Menu" />
      </a>
    </div>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="img/close.png" alt="Close" />
      </a>
      <div class="overlay-content">
        <a href="journey.html">The Journey</a>
        <a href="people.html">Our People</a>
        <a href="vineyards.html">Our Vineyards</a>
        <a href="wines.html">Our Wines</a>
        <a href="contact.html">Contact Us</a>
      </div>
    </div>
</header>
