<section id="our-people">
  {% include nav.html %}
  <section class="people">
    <div class="content">
      <div class="item_ppl">
        <img src="img/MARC_FRANCOIS.jpg">
        <h3>MARC FRANCOIS</h3>
        <p>
          Marc has worked in Saint-ÉmilionGrand Cru Classé properties
          since1994. With more than 20 years ofwinemaking experience,
          Marc is determined to create winesthat are of superior quality
          equal tothe Grand cru wines.
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/LUDOVIC_LABARRERE.jpg">
        <h3>LUDOVIC LABARRERE</h3>
        <p>
          Ludovic has worked with celebritywinemakers around the world
          andthus broaden his wine knowledgethroughout the years.With a
          solid foundation, he is ableto create wines that not only
          offerdiverse flavours but also capturingthe richness of its
          terroir.
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/NATHALIE_BILLARD.jpg">
        <h3>NATHALIE BILLARD</h3>
        <p>
          A Master of wine with at least 20years of winemaking
          experience indifferent countries, Nathalie paysmeticulous
          attention to craftingwines that are delicate and withelegance
          but still showing aspects offruit concentration and its
          terroir.
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/PIERRE_SALLAUD.jpg">
        <h3>PIERRE SALLAUD</h3>
        <p>
          Pierre grew his technical skillsand discipline through
          workingin Saint-Émilion Grand CruClassé property. He has a
          strongapproach in crafting wines thatare fruit-driven and
          exhibits theunique essence of each plot.
        </p>
      </div>

    </div>
  </section>
</section>
