<section id="our-wines">
  <section class="index_wines">

    <div class="contain">

      <div class="index_wine_desc">
        <h2>Our Wines</h2>
        <p>
          We are passionate about making wines that bring together great
          company and will be the centerpiece of unique connections and
          experiences.
        </p>
      </div>

      <div id="owl-wine" class="owl-carousel">
        <div class="item"><a href="wines.html#Pomerol"><img src="img/blackbottle.png" alt="" /></a></div>
        <div class="item"><a href="wines.html#Fronsac"><img src="img/redbottle.png" alt="" /></a></div>
        <div class="item"><a href="wines.html#Lussac"><img src="img/goldbottle.png" alt="" /></a></div>
        <div class="item"><a href="wines.html#Medoc"><img src="img/greenbluebottle.png" alt="" /></a></div>
        <div class="item"><a href="wines.html#Bordeaux"><img src="img/whitebottle.png" alt="" /></a></div>
      </div>

    </div>

  </section>
</section>
