<section id="vineyard-emilion" class="vineyard">
    <div class="yard-photo">
    	<img src="{{ site.baseurl }}img/emilion.jpg">
    </div>
    	<div class="yard-desc">
            <div class="yard-center">
                <h2>Lussac</br>Saint-Émilion</h2>
                <ul class="yard_ul">
                    <li>
                        Located on the right bank of the Garonne and Dordogne rivers, the amphi-theater shaped Lussac
                        Saint-Émilion facing south equips its vineyards with naturally good drainage and plenty of
                        sunlight.
                    </li>
                    <li>
                        The terroir of Lussac is characterized by the diversity of its soils, distributed between the
                        plateaus, the sides of the hills, and small valleys, the vines grow in mainly clayey limestone
                        soils.
                    </li>
                    <li>
                        The grape varieties permitted within the Lussac-Saint-Émilion appellation are Cabernet Franc,
                        Cabernet Sauvignon, Malbec and Merlot. Merlot usually dominates the blend.
                    </li>
                    <li>
                        To qualify for the Lussac-Saint-Emilion appellation, wines must contain a minimum of 11% alcohol
                        and come from vineyards planted to a density of less than 5500 vines per hectare. Wines made
                        from hybrid vines or those under three years old do not qualify.
                    </li>
                    <li>
                        The Lussac wines express delicious, intense aromas with notes of red fruit and underlying hints
                        of liquorice, prune and spice.
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/sandygravel.png" />
                        <span>Sandy Gravel</span>
                    </li>

                    <li>
                        <img src="img/siltyclay.png" />
                        <span>Silty clay</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>
</section>