<section id="vision">
  <section class="vision">

		<div>
			<h2>Vision</h2>

			<h3>
				Every wine has its worth and it is not measured by its price.
			</h3>

			<p>
				We believe everyone deserves to enjoy and have access to fine wines at a great value without compromising its flavour and quality.
			</p>
			<p>
				We pledge to produce fine wines with the best balance of quality and price hence we want to create this opportunity for you to enjoy this experience with the best of both worlds.
			</p>
		</div>

	</section>

	<section class="values">

		<div class="values_content">
			<div class="flex">
				<h2>Values</h2>


				<p>
				<h3>INTEGRITY</h3>
				Honesty is our priority
				</p>

				<p>
				<h3>QUALITY</h3>
				Consistent and only the finest</p>

				<p>
				<h3>PASSION</h3>
				Sharing our love</p>

				<p>
				<h3>DRIVEN</h3>
				Strive to be better</p>

			</div>

			<div class="flex"><img class="values-img" src="img/values.jpg" />
			</div>
		</div>

	</section>
</section>