<section id="wine-detail">
	{% include nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>Our Wines</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>Pomerol</h3>
							<p>Pomerol lies immediately to the east and north-east of Libourne. It is the smallest
								of
								all
								the
								major
								Bordeaux wine producing appellations, with only 800 hectares under vine in Pomerol.
								This
								miniscule
								area’s wines define the Merlot grape at its very best. The soils of the Pomerol
								region
								are
								very
								diverse with a mixture of gravel, sand and clay scattered across the plateau.
								Pomerol
								wines
								are
								known to be of maximum elegance, richness, and complexity.</p>
							<p><a href="assets/LesTrois-AOCPomerol.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Fronsac</h3>
							<p>Like Saint-Emilion, just a few miles to the east, Fronsac has a picturesque landscape
								made up
								of
								woodland and hills. The composition of the soil here gives the vines a certain
								resistance to
								hotter weather. Merlot is the dominant grape in Fronsac and is regularly paired with
								Cabernet
								Franc. Malbec is used to add complexity to the wines. Fronsac is well-known for
								producing
								serious, ageworthy and great value wines.</p>
							<p><a href="assets/LesTrois-AOCFronsac.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Lussac </br>Saint-Émilion</h3>
							<p>Located on the right bank of the Garonne and Dordogne rivers, the amphi-theater
								shaped
								Lussac
								Saint-Émilion facing south equips its vineyards with naturally good drainage and
								plenty
								of
								sunlight. The terroir of Lussac is characterized by the diversity of its soils,
								distributed
								between the plateaus, the sides of the hills, and small valleys, the vines grow in
								mainly
								clayey
								limestone soils. The Lussac wines express delicious, intense aromas with notes of
								red
								fruit
								and
								underlying hints of liquorice, prune and spice.</p>
							<p><a href="assets/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">DOWNLOAD
									BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Médoc</h3>
							<p>Médoc is one of the key appellations in the left bank of Bordeaux. It has an alluvial
								soil
								composition of mainly sand, clay and gravel, it became a unique terrain in the Left
								Bank.
								Facing
								due south, it enjoys outstanding exposure to the sun, providing ideal conditions for
								the
								grapes
								to ripen. Wines here are delicate, they deliver fruit scents and flavors of cassis,
								blackberry,
								dark cherry, vanilla, coffee bean, spice and licorice; often tannic when young,
								harmonious
								and
								splendid when matured.</p>
							<p><a href="assets/LesTrois-AOCMedoc.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Bordeaux</h3>
							<p>The Bordeaux appellation covers the entire Bordeaux wine region, a very large
								geographical
								area
								with a wide variety of soils and terroirs. In the right hands, wines can be
								excellent
								values
								with good flavour structure. Bordeaux reds are known for offering a palette of
								infinite
								nuances
								and able to combine their virtues in many ways.</p>
							<p><a href="assets/LesTrois-AOCBordeaux.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>