<section id="wine-detail">
	{% include nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>Our Wines</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>Pomerol</h3>
							<p>Pomerol is one of the most prestigious regions of the Bordeaux AOC. It is situated next to the east and north-east of Libourne and it is also the smallest wine producing appellations in Bordeaux with a mere 800 hectares. The soils of the Pomerol region comprise of a diverse mixture of gravel, sand and clay across the plateau. The unique characteristics of Merlot and Cabernet Franc giving rise to its elegant, rich and velvety flavours making the wines in this region very well sough -after. </p>
							<p><a href="assets/LesTrois-AOCPomerol.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Fronsac</h3>
							<p>Fronsac is located at the east of Bordeaux and it primarily produces Merlot . It is one of the more picturesque regions as it offers stunning panoramic views over its vine-covered hills. The terroir is mainly consisted of sandstone and limestone which allows the vines to withstand extreme warm weather producing better balanced wines compared to others. This region offers wines rich in tannins and generally blended with a large percentage of Merlot with Cabernet-Franc, Cabernet Sauvignon and Malbec.</p>
							<p><a href="assets/LesTrois-AOCFronsac.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Lussac </br>Saint-Émilion</h3>
							<p>Lussac- Saint Emillion is one of the four satellites of Saint-Emillion appellation.
							Located north of the four satellites, the vineyards in Lussac Saint-Émilion receive plenty of sunlight and has naturally good drainage. This region is located on elevated ground and its terroir has diverse types of soils ranging from clay and limestone in the south-east of the slope and to the west with sandy-gravel and while to the north predominantly comprises of cold clayey soil. This region offers wines with intense aromas with notes of red fruit and underlying hints of liquorice, prune and spice.</p>
							<p><a href="assets/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">DOWNLOAD BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Médoc</h3>
							<p>Médoc is a long strip of peninsula covering the coastal lagoons and it is one of the major appellations in the left bank, north of Bordeaux. It has an alluvial soil composition of mainly sand, clay and gravel. This south- facing region enjoys good exposure to the sun, providing ideal conditions for the grapes to ripen. Wines here are delicate with flavours of cassis, blackberry, dark cherry, vanilla, coffee bean, spice and liquorice.</p>
							<p><a href="assets/LesTrois-AOCMedoc.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Bordeaux</h3>
							<p>The Bordeaux appellation comprised of a very large geographical area with a wide range of soils and terroirs. Hence the wines from this region provide infinite possibilities of flavours to satisfy one’s palate. The Bordeaux reds are generally well structured with deep flavours.</p>
							<p><a href="assets/LesTrois-AOCBordeaux.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>