<section id="wine-detail">
	{% include nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>Our Wines</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>Pomerol</h3>
							<p>The appellation of Pomerol lies immediately to the east and north-east of the city of Libourne. It’s the smallest of all the major Bordeaux wine producing appellations, with roughly a total of 800 hectares of vines. However, this miniscule area’s soils have historically expressed and continue to bring out the greatest potential of the Merlot variety. These soils are very diverse, consisting of a mixture of gravel, sand and clay, scattered across the plateau. Pomerol wines are known to be of maximum elegance, richness, and complexity.</p>
							<p><a href="assets/LesTrois-AOCPomerol.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Fronsac</h3>
							<p>Located just a few miles to the west of Saint Emilion and on the right bank, Fronsac has a picturesque landscape composed of woodland and hills. The sandstone and limestone composition of the soil gives the vines of Fronsac a unique resilience to hotter weather. Merlot is the dominant grape variety in Fronsac, and is regularly paired with Cabernet Franc. Additionally, Malbec is added for more complexity. Fronsac has historically been well-known for its production of serious, ageworthy and great value wines.</p>
							<p><a href="assets/LesTrois-AOCFronsac.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Lussac </br>Saint-Émilion</h3>
							<p>Located on the right bank of the Garonne and Dordogne rivers, and just north of Saint-Emilion is Lussac Saint-Emilion, equipped with naturally good drainage and plenty of sunlight. The terroir of Lussac is characterized by the diversity of its soils, distributed between the plateaus, sides of the hills, and small valleys. These soils are mainly composed of clay and limestone, allowing the Lussac wines to express delicious, intense aromas, with notes of red fruit and underlying hints of licorice, prune and spice.</p>
							<p><a href="assets/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">DOWNLOAD BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Médoc</h3>
							<p>Médoc is one of the key appellations in the left bank of Bordeaux. Because of its alluvial soil composition of mainly sand, clay, and gravel, it’s known for its unique terrain on the left bank. Facing due south, it enjoys an outstanding exposure to the sun, which provides ideal conditions for the ripening of the grapes. Medoc wines are delicate, delivering fruit scents and notes of cassis, blackberry, dark cherry, vanilla, coffee bean, spice and licorice. These wines are often tannic when young, becoming harmonious and splendid when matured.</p>
							<p><a href="assets/LesTrois-AOCMedoc.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Bordeaux</h3>
							<p>The Bordeaux Appellation (AOC Bordeaux) encompasses the entire Bordeaux wine region, a large geographical area that is famously known for its wide variety of soils and terroirs. In the right hands, wines of this appellation can provide excellent value along with unique flavor structures. Bordeaux reds are known for blending a variety of grapes that will offer a palette of infinite nuances, combining their virtues in many ways.</p>
							<p><a href="assets/LesTrois-AOCBordeaux.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>

<section id="video-section" style="margin-top: 200px;">
  <style>
    #video-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150vh;
      position: relative;
    }
    
    #video-section .video-container {
      position: relative;
    }
    
    #video-section h3 {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      padding: 10px 20px;
      width: 80%;
      text-align: center;
    }
    
    #video-section video {
      max-width: 100%;
      max-height: 100%;
    }
  </style>

  <div class="video-container">
    <h2>Les Trois Collection</h2>
    <video src="assets/Videos/LesTroisEN_V3.mp4" height="600" width="auto" controls autoplay></video>
  </div>
</section>