<section id="vineyard-bordeaux" class="vineyard">
	<div class="yard-photo">
            <img src="{{ site.baseurl }}img/bordeaux.jpg" />
        </div>



        <div class="yard-desc">
            <div class="yard-center">
                <h2>波尔多</h2>
                <ul class="yard_ul">
                    <li>
                        波尔多产区涵盖了整个波尔多葡萄酒产区，该产区占地面积大且土壤多样。
                    </li>
                    <li>
                        玛歌或波美侯等特定的原产地命名控制的产区也可以用各自的葡萄酿造波尔多葡萄酒。
                    </li>
                    <li>
                        红葡萄酒里面，种植最广泛的葡萄品种是梅洛和赤霞珠。由于大多数波尔多产区的葡萄酒都是在右岸生产，因此品丽珠会经常出现在混酿中。葡萄种植者越来越多地使用马尔贝克酿造葡萄酒，但小维多仍然很少见。
                    </li>
                    <li>
                        众所周知，波尔多红葡萄酒可细划分出许多差别且能形成不同风格。  
                    </li>
                    <li>
                        波尔多葡萄酒是用来分享的。
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/gravel.png" />
                        <span>Gravel</span>
                    </li>

                    <li>
                        <img src="img/chalky.png" />
                        <span>Chalky-clayous</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>

</section>