<section id="vineyard-bordeaux" class="vineyard">
	<div class="yard-photo">
            <img src="{{ site.baseurl }}img/bordeaux.jpg" />
        </div>



        <div class="yard-desc">
            <div class="yard-center">
                <h2>波尔多</h2>
                <ul class="yard_ul">
                    <li>
                        The Bordeaux appellation covers the entire Bordeaux wine region, a
                        very large geographical area with a wide variety of soils and
                        terroirs.
                    </li>
                    <li>
                        The wines are not produced from grapes grown exclusively in the
                        specific AOCs such as Margaux or Pomerol, but are either sourced
                        from a variety of different vineyards or use different grape
                        blends and aging methods otherwise not permitted within the other
                        AOCs.
                    </li>
                    <li>
                        For red wines, the most planted grape varietals are Merlot and
                        Cabernet Sauvignon. As most regional Bordeaux AOC wines are
                        produced on the Right Bank, Cabernet Franc is often found in the
                        blend too. Winemakers are using more and more Malbec, but Petit
                        Verdot is not often seen yet.
                    </li>
                    <li>
                        In the right hands, wines can be excellent values with good
                        flavour structure. Bordeaux reds are known for offering a palette
                        of infinite nuances and able to combine their virtues in many
                        ways.
                    </li>
                    <li>Bordeaux is a wine meant to be enjoyed with others.</li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/gravel.png" />
                        <span>Gravel</span>
                    </li>

                    <li>
                        <img src="img/chalky.png" />
                        <span>Chalky-clayous</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>

</section>