<section id="vineyard-fronsac" class="vineyard">
	<div class="yard-desc">
            <div class="yard-center">
                <h2>弗龙萨克</h2>
                <ul class="yard_ul">
                    <li>
                        Like Saint-Emilion, just a few miles to the east, Fronsac has a
                        picturesque landscape made up of woodland and hills.
                    </li>
                    <li>
                        The soils here are composed more of sandstone and limestone than
                        clay, giving the vines a certain resistance to hotter weather.
                    </li>
                    <li>
                        Merlot is the dominant grape in Fronsac and is regularly paired
                        with Cabernet Franc. Malbec is used to add complexity to the wines
                        and Cabernet Sauvignon may also be included, although it is less
                        commonly used because it doesn't ripen as well in the
                        appellation's cooler soils.
                    </li>
                    <li>
                        It also has a rich history reaching back hundreds of years, when
                        the area was much favored by French nobility.
                    </li>
                    <li>
                        The appellation is known for offering affordable alternatives to
                        the high-priced wines of the Médoc, Pomerol and Saint-Émilion.
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/claylimestone.png" />
                        <span>Clay lime stone</span>
                    </li>

                    <li>
                        <img src="img/chalky.png" />
                        <span>Chalky-clayous</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>


        <div class="yard-photo">
            <img src="{{ site.baseurl }}img/fronsac.jpg" />
        </div>
</section>