<!-- Slider Start -->
<section id="journey-home">
  {% include zh/nav.html %}
  <section class="journey">

    <div>
      <h2>品牌故事</h2>
      <p>
        一切缘起于十年前成立于波尔多的一家小型葡萄酒管理公司。这段经历里充满了挑战，但是所有的磨砺都帮助我们加深了解法国葡萄酒行业。宝贵的经验是无价的。在这十年里，我们是不断成长的 : 我们广泛研究，我们领悟风土，我们熟悉葡萄栽培过程。
      </p>

      <p>
        在这十年里，我们是被祝福的 : 我们和最优秀的酿酒师们并肩协作，分享共同的价值观，坚信每一款葡萄酒都拥有着属于她自己的魅力。不应该被任何价格标签束缚。
      </p>

      <p>
        在这十年里，我们学着去适应，去调整，去改善，如今的我们将要实现变革。
      </p>

      <p>
        在梅花引(Les Trois)里流淌着的是我们的信仰 : 一款出色的葡萄酒，应该是要传承经典并独具风格。
      </p>

      <img class="journey-img" src="img/journey.jpg" />
    </div>

  </section>
  
  <section class="mission">

    <div>
      <h2>我们的使命</h2>

      <p>
        我们渴望酿造最出色的葡萄酒。我们不吝惜时间就只为确保高品质的葡萄酒。
      </p>
      <p>
        Sharing is caring 分享就是关怀，就是这么简单的一句话激发出我们酿造梅花引(Les Trois)的灵感。我们相信分享能培养彼此的关系: 在人与文化之间搭建更深入的情感连接。分享能激发出对社会的责任感，我们乐意这美好的分享从我们的葡萄酒开始。我们对葡萄酒的热情可以和我们与朋友分享美酒的激情相媲美。
      </p>
      <p>
        试问还有什么快乐能堪比 « 诚邀三五好友，一起共品美酒 »的美好体验呢? 通过梅花引(Les Trois)，我们拥有了和您成为好友的殊荣。
      </p>
    </div>

  </section>
</section>