<section id="vineyard-medoc" class="vineyard">
	<div class="yard-desc">
            <div class="yard-center">
                <h2>梅多克</h2>
                <ul class="yard_ul">
                    <li>
                        作为波尔多左岸的主要产区之一，梅多克产区位于大西洋和吉伦特河之间，占地16500公顷，其名字源自拉丁语“inmédio-aquae”，意为“水域之间”。这突出了梅多克产区享有的丰富水源。
                    </li>
                    <li>
                        梅多克的土壤主要由沙子、粘土和砾石构成。此外，高砾石含量保证了良好的自然排水性能。
                    </li>
                    <li>
                        该产区主导葡萄品种是赤霞珠和梅洛，其次是小维多和马尔贝克。品丽珠和佳美娜品种也已获得原产地命名控制的认证。
                    </li>
                    <li>
                        最好的酒庄，如拉菲罗斯柴尔德酒庄、拉图酒庄、侯伯王酒庄、玛歌酒庄均位于左岸。
                    </li>
                    <li>
                        梅多克出产的葡萄酒口感细腻，散发出黑醋栗、黑莓、黑樱桃、香草、咖啡和香料的香气。年轻时丹宁味较重，陈酿后更为和谐平衡。
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/claylimestone.png" />
                        <span>Clay lime stone</span>
                    </li>

                    <li>
                        <img src="img/argile.png" />
                        <span>Argile</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>

        <div class="yard-photo">
            <img src="{{ site.baseurl }}img/medoc.jpg" />
        </div>
</section>