<header>
  <div class="logo">
      <a href="index.html">
        <img src="img/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="menu">
      <a onclick="openNav()">
        <img src="img/menu.png" alt="Menu" />
      </a>
    </div>

    <div id="myNav" class="overlay">
      <div class="language-selection">
            <span><a href="#"><img src="img/flag_uk_icon.png" class="lang-flag"/>English</a></span>
            <span><a href="fr/index.html"><img src="img/flag_france_icon.png" class="lang-flag"/>Français</a></span>
            <span><a href="zh/index.html"><img src="img/flag_china_icon.png" class="lang-flag"/>中文</a></span>
      </div>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="img/close.png" alt="Close" />
      </a>
      <div class="overlay-content">
        <a href="zh/journey.html">品牌故事</a>
        <a href="zh/people.html">我们的团队</a>
        <a href="zh/vineyards.html">我们的葡萄园</a>
        <a href="zh/wines.html">我们的葡萄酒</a>
        <a href="zh/contact.html">联系我们</a>
      </div>
    </div>
</header>
