<section id="our-people">
  {% include zh/nav.html %}
  <section class="people">
    <div class="content">
      <div class="item_ppl">
        <img src="img/MARC_FRANCOIS.jpg">
        <h3>MARC FRANCOIS</h3>
        <p>
          自1994年起，Marc 就职于圣爱美隆特级酒庄。拥有超过20年的酿酒经验，Marc秉持着酿造品质卓越比肩特级 (Grand Cru) 葡萄酒佳酿的信念。
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/LUDOVIC_LABARRERE.jpg">
        <h3>LUDOVIC LABARRERE</h3>
        <p>
          Ludovic曾于世界各地的明星酿酒师合作，多年来他借此拓宽了自己对葡萄酒的见解。靠着扎实的本领，Ludovic经手酿造的葡萄酒不仅能散发丰富的醇香，同时能恰到好处的捕捉风土的特质。
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/NATHALIE_BILLARD.jpg">
        <h3>NATHALIE BILLARD</h3>
        <p>
          作为葡萄酒大师，Nathalie拥有不同国家20年以上葡萄酒酿造经验，她执着于酿造精致优雅又不失葡萄本身浓郁果香及风土的美酒。
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/PIERRE_SALLAUD.jpg">
        <h3>PIERRE SALLAUD</h3>
        <p>
          Pierre的酿酒技术锻造于圣爱美隆列级酒庄。他的酿造哲学在于注重保留葡萄酒的果味和在酒体里体现出每一部分风土的独特精华。
        </p>
      </div>

    </div>
  </section>
</section>
