<section id="our-wines">
  <section class="index_wines">

    <div class="contain">

      <div class="index_wine_desc">
        <h2>我们的葡萄酒</h2>
        <p>
          我们热衷于酿造讲大家能够聚集一起的葡萄酒，并成为其独特联系和体验的核心。
        </p>
      </div>

      <div id="owl-wine" class="owl-carousel">
        <div class="item"><a href="zh/wines.html#Pomerol"><img src="img/blackbottle.png" alt="" /></a></div>
        <div class="item"><a href="zh/wines.html#Fronsac"><img src="img/redbottle.png" alt="" /></a></div>
        <div class="item"><a href="zh/wines.html#Lussac"><img src="img/goldbottle.png" alt="" /></a></div>
        <div class="item"><a href="zh/wines.html#Medoc"><img src="img/greenbluebottle.png" alt="" /></a></div>
        <div class="item"><a href="zh/wines.html#Bordeaux"><img src="img/whitebottle.png" alt="" /></a></div>
      </div>

    </div>

  </section>
</section>
