<section id="vineyard-pomerol" class="vineyard">
    <div class="yard-photo">
    	<img src="{{ site.baseurl }}img/pomerol.jpg">
    </div>
    <div class="yard-desc">
        <div class="yard-center">
            <h2>波美侯</h2>
            <ul class="yard_ul">
                <li>
                        位于利布尔讷东北部。葡萄地 800 公顷，波美侯是波尔多葡萄园中最小的产区之一。这里种植着最优质的梅洛品种。
                </li>
                <li>
                        波美侯地区的土壤非常多样化，高原上分散着砾石、沙子和粘土混合物。
                </li>
                <li>
                        波尔多最昂贵的三种葡萄酒-波图斯、拉弗尔和里鹏正是出自波美侯产区。
                </li>
                <li>
                        波美侯最为独特的红葡萄酒采用梅洛、品丽珠、赤霞珠和马尔贝克等获得原产地命名控制认证的品种酿造的。波美侯葡萄酒以其复杂而优雅的口感闻名于世。
                </li>
            </ul>

            <h3>Types of Soil</h3>
            <ul class="sand-grape-type">

                <li>
                    <img src="img/claylimestone.png" />
                    <span>Clay lime stone</span>
                </li>

                <li>
                    <img src="img/argile.png" />
                    <span>Argile</span>
                </li>
            </ul>

            <h3>Grapes</h3>

            <ul class="grapes">
                <li>
                    <img src="img/red.png" />
                    <span>Red</span>
                </li>
                <li>
                    <img src="img/white.png" />
                    <span>White</span>
                </li>
            </ul>

        </div>
    </div>
</section>