<section id="vineyard-emilion" class="vineyard">
    <div class="yard-photo">
    	<img src="{{ site.baseurl }}img/emilion.jpg">
    </div>
    	<div class="yard-desc">
            <div class="yard-center">
                <h2>吕萨克-圣艾美隆</h2>
                <ul class="yard_ul">
                    <li>
                        吕萨克-圣埃美隆产区位于加龙河和多尔多涅河的右岸，得益于独特的地理位置，该产区拥有充足的阳光和理想的气候。
                    </li>
                    <li>
                        吕萨克的土壤具有多样性，分布在高原和山坡之间。葡萄树生长在以粘土居多的石灰岩土壤上。
                    </li>
                    <li>
                        吕萨克-圣埃美隆产区被官方认证的葡萄品种有品丽珠、赤霞珠、马尔贝克和梅洛。后者通常在混酿中占主要地位。
                    </li>
                    <li>
                        要达到吕萨克-圣埃美隆这个等级，葡萄酒的酒精含量必须至少达到11%，而且葡萄园的种植密度必须低于每公顷5500棵。
                    </li>
                    <li>
                        吕萨克葡萄酒酒体浓郁，带有明显的红色水果香气和淡淡的香料味。
                    </li>
                </ul>

                <h3>Types of Soil</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/sandygravel.png" />
                        <span>Sandy Gravel</span>
                    </li>

                    <li>
                        <img src="img/siltyclay.png" />
                        <span>Silty clay</span>
                    </li>
                </ul>

                <h3>Grapes</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Red</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>White</span>
                    </li>
                </ul>

            </div>
        </div>
</section>