<section id="sidebar">
	<div class="container">
		<div class="col-md-2 col-sm-2">
			<div class="nav-side-menu">
				<div class="menu-list">
					<ul id="menu-content" class="menu-content">	
						<li><a href="zh/vineyards.html#vineyard-pomerol">波美侯</a></li>
						<li><a href="zh/vineyards.html#vineyard-fronsac">弗龙萨克</a></li>
						<li><a href="zh/vineyards.html#vineyard-emilion">吕萨克-圣艾美隆</a></li>
						<li><a href="zh/vineyards.html#vineyard-medoc">梅多克</a></li>
						<li><a href="zh/vineyards.html#vineyard-bordeaux">波尔多</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>