<section id="vision">
  <section class="vision">

		<div>
			<h2>我们的愿景</h2>

			<h3>
				每款葡萄都有她自己的价值。但她绝不应该被价格所束缚。
			</h3>

			<p>
				我们坚信每个人都值得拥有一款不以价格来标榜其口感和品质的葡萄酒。我们秉持酿造好酒的承诺，探索品质和价格之间地平衡。我们希望能为您提供一款拥有最优性价比的葡萄酒。
			</p>
		</div>

	</section>

	<section class="values">

		<div class="values_content">
			<div class="flex">
				<h2>价值观</h2>


				<p>
				<h3>诚恳</h3>
				我们将真诚放在首位。
				</p>

				<p>
				<h3>优质</h3>
				我们只做最好，始终如一。</p>

				<p>
				<h3>激情</h3>
				我们乐于分享爱。</p>

				<p>
				<h3>执著</h3>
				我们不断追求更好。</p>

			</div>

			<div class="flex"><img class="values-img" src="img/values.jpg" />
			</div>
		</div>

	</section>
</section>