<section id="wine-detail">
	{% include zh/nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>我们的葡萄酒</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>波美侯</h3>
							<p>波美侯产区位于利布尔纳的东部和东北部。该产区葡萄树种植面积仅800公顷，是波尔多主要葡萄酒产区中面积最小的一个。然而正是这片精巧的产区以其最好的葡萄酒定义了梅洛。波美侯产区的土壤结构丰富多样，混合着砾石，沙土和粘土。该产区的葡萄酒也因其优雅，丰富和复杂的口感而闻名于世。</p>
							<p><a href="assets/zh/LesTrois-AOCPomerol.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>弗龙萨克</h3>
							<p>距离东边的圣爱美隆产区仅几英里之隔，与其相似，弗龙萨克产区风景如画，主要由林地和丘陵地貌构成。这里的土壤成分使葡萄树天生具有了抵抗高温天气的特性。梅洛是弗龙萨克产区的主要葡萄品种，常与品丽珠进行混酿。马尔贝克也会被用于增加葡萄酒的复杂性。弗龙萨克产区以生产认真，陈酿并超值的葡萄酒而闻名。</p>
							<p><a href="assets/zh/LesTrois-AOCFronsac.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>吕萨克<br>圣艾美隆</h3>
							<p>位于加龙河和多尔多涅河右岸，形同圆形剧场的卢萨克 – 圣爱美隆产区坐北朝南，自然排水条件良好且日照充足。卢萨克风土的特点是土壤条件多样化，分布在高地，山坡和小山谷之间，这里的葡萄树主要生长在粘土质石灰岩土壤中。其葡萄酒表现出可口的强烈芳香，带有红色水果味和淡淡的甘草，西梅以及香料香气。</p>
							<p><a href="assets/zh/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">DOWNLOAD BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>梅多克</h3>
							<p>梅多克产区是波尔多左岸主要产区之一。该产区的冲积土壤主要成分为沙土，粘土和砾石，这一地势特点使其成为左岸的唯一。坐北朝南，日照充足，为葡萄成熟提供了理想的条件。这里的葡萄酒精致优雅，散发出水果香气和黑醋栗，黑莓，黑樱桃，香草，咖啡豆，香料和甘草的味道。年轻时因丹宁而华丽，成熟后味道和谐却难掩光辉。</p>
							<p><a href="assets/zh/LesTrois-AOCMedoc.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>波尔多</h3>
							<p>波尔多产区遍及整个波尔多地区葡萄酒产区，广阔的地理区域内覆盖了品种繁多的土壤和风土种类。在大师的手中，葡萄酒能因其优秀的风味结构被赋予最大的价值。波尔多产区的红葡萄酒以其能够提供多样化细致入微的差别而闻名，同时又可以凭多种方式结合其长处。</p>
							<p><a href="assets/zh/LesTrois-AOCBordeaux.pdf" target="_blank">DOWNLOAD BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>