<section id="vineyard-bordeaux" class="vineyard">
	<div class="yard-photo">
            <img src="{{ site.baseurl }}img/bordeaux.jpg" />
        </div>



        <div class="yard-desc">
            <div class="yard-center">
                <h2>Bordeaux</h2>
                <ul class="yard_ul">
                    <li>
                        L’appellation Bordeaux couvre l’ensemble de la région viticole Bordelaise, c’est une grande zone géographique avec une grande variété de sols et de terroirs.
                    </li>
                    <li>
                        Les AOC spécifiques telles que Margaux ou Pomerol peuvent également faire du bordeaux avec leurs raisins.
                    </li>
                    <li>
                        Pour les vins rouges, les cépages les plus plantés sont le Merlot et le Cabernet Sauvignon. Comme la plupart des vins de l’AOC bordeaux sont produits sur la rive droite, le cabernet franc est souvent dans l’assemblage. Les vignerons utilisent de plus en plus le malbec, mais le Petit Verdot reste rare.
                    </li>
                    <li>
                        Les vins rouges de Bordeaux sont connus pour offrir une palette de nuances infinies et capables d’étonner de plusieurs façons.
                    </li>
                    <li>Les vins de Bordeaux sont destinés à être partagé.</li>
                </ul>

                <h3>Types de sol</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/gravel.png" />
                        <span>Graves</span>
                    </li>

                    <li>
                        <img src="img/chalky.png" />
                        <span>Argilo-calcaire</span>
                    </li>
                </ul>

                <h3>Raisins</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Rouge</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>Blanc</span>
                    </li>
                </ul>

            </div>
        </div>

</section>