<section id="contact-us">
  {% include fr/nav.html %}
  <div id="contact_us">
    <div class="contact_photo"><img src="img/cover9a.jpg" /></div>
      <div class="container_contact">
      <h2>Contact</h2>

      <h3>Bureau</h3>
      <p>
        Lieu dit Chadenne</br>
        33126 Saint-Aignan
      </p>
      <p>
        Tel: (+33) 05 57 24 95 98
      </p>

      <h3>Mail</h3>
      <p>info@lestroiscollection.com</p>

      <h3>Restez connecté</h3>
      <p>
      <ul>
        <li><a href="https://facebook.com/lestroiscollection" class="facebook"
            target="_blank">www.fb.com/lestroiscollection</a>
        </li>

      </ul>
      </p>
    </div>

  </div>
</section>
