<section id="vineyard-fronsac" class="vineyard">
	<div class="yard-desc">
            <div class="yard-center">
                <h2>Fronsac</h2>
                <ul class="yard_ul">
                    <li>
                        A l’Est de Saint-Emilion, se situe l’appellation Fronsac avec ces paysages vallonnés. 
                    </li>
                    <li>
                        Le terroir est composé de calcaire et d’argile, donnant aux vignes une certaine résistance pendant les périodes de sécheresse. 
                    </li>
                    <li>
                        Le merlot est le cépage dominant, souvent accompagné par du cabernet franc. Le malbec est utilisé pour donner des vins plus complexes. Le cabernet sauvignon est également planté, mais a un pourcentage plus faible parce que le sol de fronsac ne lui permet pas d’atteindre la maturité optimale.
                    </li>
                    <li>
                        Fronsac a une histoire riche remontant à des centaines d’années, déjà la cour française se délectait de ses vins.
                    </li>
                    <li>
                        Cette appellation est reconnue pour produire une alternative abordable comparé aux vins de Pomerol, Saint-Emilion et du Médoc.
                    </li>
                </ul>

                <h3>Types de sol</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/claylimestone.png" />
                        <span>Argilo-calcaire</span>
                    </li>

                    <li>
                        <img src="img/chalky.png" />
                        <span>Calcaire</span>
                    </li>
                </ul>

                <h3>Raisins</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Rouge</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>Blanc</span>
                    </li>
                </ul>

            </div>
        </div>


        <div class="yard-photo">
            <img src="{{ site.baseurl }}img/fronsac.jpg" />
        </div>
</section>