<!-- Slider Start -->
<section id="journey-home">
  {% include fr/nav.html %}
  <section class="journey">

    <div>
      <h2>L’histoire</h2>
      <p>
        Tout a commencé il y a une dizaine d’années avec une petite entreprise de management viticole à Bordeaux. Ce fut un voyage difficile, mais cela nous a permis d’acquérir toutes les connaissances relatives au secteur du vin en France. 
      </p>

      <p>
        Tout au long de cette expérience, nous avons continué de nous améliorer sur l’ensemble des techniques viticoles, de la notion des terroirs jusqu’au processus de vinification.
      </p>

      <p>
        Nous travaillons en étroite collaboration avec les « wine masters » (l’équipe technique). Nous partageons des valeurs communes qui nous ont appris que chaque vin est unique et qu’il n’est pas mesurable par son prix. 
      <p>
        Tout au long de ces étapes, nous avons appris à nous adapter, nous améliorer, à évoluer au fil des années et maintenant nous souhaitons révolutionner le monde du vin.
      </p>

      <p>
        A « Les Trois », nous pensons que les excellents vins sont exclusivement faits de manière artisanale pour conserver leur caractère unique ainsi que leur héritage.
      </p>

      <img class="journey-img" src="img/journey.jpg" />
    </div>

  </section>
  
  <section class="mission">

    <div>
      <h2>Notre Mission</h2>

      <p>
        Nous sommes passionnés par la création de vins d’exception. Nous mettons tout en œuvre pour nous assurer que nos vins répondent à des normes de qualité exigeantes.
      </p>
      <p>
        « Partager, c’est prendre soin » Une simple phrase qui nous a inspiré à la création de « Les Trois » Nous pensons que le partage est à la base de toute relation : c’est la connexion entre les personnes et les cultures. Le partage donne un sens des responsabilités envers la société et nous souhaiterions inculquer cet acte de partager à travers nos vins. Notre passion pour le vin provient de notre amour de le partager avec nos amis.
      </p>
      <p>
        Il n’y a pas plus grand plaisir que de déguster des vins en bonne compagnie ; créer des moments exceptionnels et uniques. A « Les Trois », nous serions honorés de devenir votre ami.
      </p>
    </div>

  </section>
</section>