<section id="vineyard-medoc" class="vineyard">
	<div class="yard-desc">
            <div class="yard-center">
                <h2>Médoc</h2>
                <ul class="yard_ul">
                    <li>
                        L’une des principales appellations de la rive gauche de Bordeaux. Situé entre l’océan Atlantique et la Gironde, couvrant une superficie de 16 500 hectares, l’origine du nom vient du mot latin « inmédio-aquae » qui signifie « entre les eaux ». Cela a accentué l’abondance d’eau autour de l’appellation Médoc.
                    </li>
                    <li>
                        Le Médoc est composé principalement de sable, d’argile et de grave. De plus, la teneur élevée en grave permet un bon drainage naturel. 
                    </li>
                    <li>
                        Les cépages dominants sont le Cabernet Sauvignon et le Merlot, et dans une moindre mesure le Petit Verdot et le Malbec. Les variétés Cabernet Franc et Carmenere sont également autorisées dans la réglementation de l’AOC.
                    </li>
                    <li>
                        Les meilleurs domaines viticoles tels que Château Lafite Rothschild, Château Latour, Château Haut-Brion, Château Margaux sont tous localisés sur la rive gauche.
                    </li>
                    <li>
                        Les vins produits dans le médoc, sont délicats, ils délivrent des arômes de cassis, mures, cerise noire, vanille, café et épices. Souvent considéré comme tanique sur les premières années, ils deviennent harmonieux avec l’âge.
                    </li>
                </ul>

                <h3>Types de sol</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/claylimestone.png" />
                        <span>Argilo-calcaire</span>
                    </li>

                    <li>
                        <img src="img/argile.png" />
                        <span>Argile</span>
                    </li>
                </ul>

                <h3>Raisins</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Rouge</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>Blanc</span>
                    </li>
                </ul>

            </div>
        </div>

        <div class="yard-photo">
            <img src="{{ site.baseurl }}img/medoc.jpg" />
        </div>
</section>