<header>
  <div class="logo">
      <a href="index.html">
        <img src="img/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="menu">
      <a onclick="openNav()">
        <img src="img/menu.png" alt="Menu" />
      </a>
    </div>

    <div id="myNav" class="overlay">
      <div class="language-selection">
            <span><a href="#"><img src="img/flag_uk_icon.png" class="lang-flag"/>English</a></span>
            <span><a href="fr/index.html"><img src="img/flag_france_icon.png" class="lang-flag"/>Français</a></span>
            <span><a href="index.html"><img src="img/flag_china_icon.png" class="lang-flag"/>中文</a></span>
      </div>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <img src="img/close.png" alt="Close" />
      </a>
      <div class="overlay-content">
        <a href="fr/journey.html">L’histoire</a>
        <a href="fr/people.html">Notre équipe</a>
        <a href="fr/vineyards.html">Nos vignobles</a>
        <a href="fr/wines.html">Nos vins</a>
        <a href="fr/contact.html">Contact</a>
      </div>
    </div>
</header>
