<section id="our-story">
  <section class="index_story" id="our-story">
    <div>
      <h2>Notre Histoire</h2>

      <h3>A masterful collaboration</h3>

      <p>
        La phrase en latin “Omne trium perfectum” signifie que tout ce qui arrive par 3 est parfait ou complet. C’est ainsi que le nom « Les Trois » a été choisi, non seulement pour la perfection du mot mais également par ce qu’il représente les valeurs et la vision de l’entreprise.
      </p>

      <p>
        N.B « Le temps, le terroir et les hommes » - Ce sont les trois éléments clés pour créer des vins parfaits.
      </p>

      <p><a href="fr/journey.html" class="underline">LIRE NOTRE HISTOIRE</a></p>
    </div>
  </section>
</section>