<section id="our-people">
  {% include fr/nav.html %}
  <section class="people">
    <div class="content">
      <div class="item_ppl">
        <img src="img/MARC_FRANCOIS.jpg">
        <h3>MARC FRANCOIS</h3>
        <p>
          Depuis 1994, Marc accompagne des Grands Crus Classés dans l’élaboration de leurs vins. Avec plus de 20 ans d’expérience dans le domaine viticole, il est déterminé à créer des vins d’une qualité supérieure pouvant égaler certains Grands Crus. 
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/LUDOVIC_LABARRERE.jpg">
        <h3>LUDOVIC LABARRERE</h3>
        <p>
          Ludovic a travaillé avec des célébrités du monde viticole et a ainsi pu élargir ses connaissances en vin au fil des années. Avec cette base solide, il est capable de capturer toutes les richesses d’un terroir pour qu’il se reflète dans une bouteille.
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/NATHALIE_BILLARD.jpg">
        <h3>NATHALIE BILLARD</h3>
        <p>
          Une viticultrice avec plus de 20 ans d’expérience dans différents pays, Nathalie porte une attention particulière à la création de ses vins, ils sont considérés comme délicats, élégants tout en se distinguant par la concentration de leur terroir. 
        </p>
      </div>

      <div class="item_ppl">
        <img src="img/PIERRE_SALLAUD.jpg">
        <h3>PIERRE SALLAUD</h3>
        <p>
          Pierre a acquis ses compétences techniques et sa rigueur en travaillant dans un Grand Cru Classé de Saint-Emilion. Il a une approche particulière dans la création de ses vins, qui est axée sur l’essence que dégage chaque parcelle. 
        </p>
      </div>

    </div>
  </section>
</section>
