<section id="our-wines">
  <section class="index_wines">

    <div class="contain">

      <div class="index_wine_desc">
        <h2>Nos Vins</h2>
        <p>
          Nous sommes passionnés par le fait de créer des vins qui rassemblent et connectent les gens entre eux. 
        </p>
      </div>

      <div id="owl-wine" class="owl-carousel">
        <div class="item"><a href="fr/wines.html#Pomerol"><img src="img/blackbottle.png" alt="" /></a></div>
        <div class="item"><a href="fr/wines.html#Fronsac"><img src="img/redbottle.png" alt="" /></a></div>
        <div class="item"><a href="fr/wines.html#Lussac"><img src="img/goldbottle.png" alt="" /></a></div>
        <div class="item"><a href="fr/wines.html#Medoc"><img src="img/greenbluebottle.png" alt="" /></a></div>
        <div class="item"><a href="fr/wines.html#Bordeaux"><img src="img/whitebottle.png" alt="" /></a></div>
      </div>

    </div>

  </section>
</section>
