<section id="vineyard-pomerol" class="vineyard">
    <div class="yard-photo">
    	<img src="{{ site.baseurl }}img/pomerol.jpg">
    </div>
    <div class="yard-desc">
        <div class="yard-center">
            <h2>Pomerol</h2>
            <ul class="yard_ul">
                <li>
                        Pomerol se situe au nord-est de Libourne. Avec seulement 800 hectares de vignes, c’est l’une des plus petites appellations du vignoble Bordelais. C’est sur cette appellation que le merlot s’exprime le mieux.
                </li>
                <li>
                        Les sols de la région de Pomerol sont très divers avec un mélange de gravier, de sable et d’argile dispersés sur le plateau.
                </li>
                <li>
                        Pomerol abrite les trois vins les plus chers de tout Bordeaux, Petrus, Lafleur et Le Pin.
                </li>
                <li>
                        Le pomerol est exclusivement un vin rouge dont les seuls cépages autorisés pour l’AOC sont le merlot, le cabernet franc, le cabernet sauvignon et le malbec. Les vins de pomerol sont connus pour être complexe et élégant.
                </li>
            </ul>

            <h3>Types de sol</h3>
            <ul class="sand-grape-type">

                <li>
                    <img src="img/claylimestone.png" />
                    <span>Argilo-calcaire</span>
                </li>

                <li>
                    <img src="img/argile.png" />
                    <span>Argile</span>
                </li>
            </ul>

            <h3>Raisins</h3>

            <ul class="grapes">
                <li>
                    <img src="img/red.png" />
                    <span>Rouge</span>
                </li>
                <li>
                    <img src="img/white.png" />
                    <span>Blanc</span>
                </li>
            </ul>

        </div>
    </div>
</section>