<section id="vineyard-emilion" class="vineyard">
    <div class="yard-photo">
    	<img src="{{ site.baseurl }}img/emilion.jpg">
    </div>
    	<div class="yard-desc">
            <div class="yard-center">
                <h2>Lussac</br>Saint-Émilion</h2>
                <ul class="yard_ul">
                    <li>
                        Situé sur la rive droite de la Garonne et de la Dordogne, Lussac Saint-Emilion bénéficie d’une position unique qui permet un ensoleillement important et un climat idéal.
                    </li>
                    <li>
                        Le terroir de Lussac est caractérisé par la diversité de ses sols, répartis entre les plateaux et les flancs des collines. La vigne pousse sur des sols calcaires principalement argileux.
                    </li>
                    <li>
                        Les cépages autorisés dans l’appellation Lussac Saint-Emilion sont, le cabernet franc, Cabernet Sauvignon, Malbec et merlot. Ce dernier est souvent le plus dominant dans l’assemblage. 
                    </li>
                    <li>
                        Pour etre catégorisé dans l’appellation « Lussac Saint-Emilion », le vin doit etre au minimum a 11%vol et doit provenir de vignes dont le rendement doit être inférieur à 5500 pieds par hectare.
                    </li>
                    <li>
                        Les vins de Lussac sont intenses avec des arômes marqués sur fruits rouges et une touche d’épices.
                    </li>
                </ul>

                <h3>Types de sol</h3>
                <ul class="sand-grape-type">

                    <li>
                        <img src="img/sandygravel.png" />
                        <span>Sablo-graveleux</span>
                    </li>

                    <li>
                        <img src="img/siltyclay.png" />
                        <span>Limoneux-calcaire</span>
                    </li>
                </ul>

                <h3>Raisins</h3>

                <ul class="grapes">
                    <li>
                        <img src="img/red.png" />
                        <span>Rouge</span>
                    </li>
                    <li>
                        <img src="img/white.png" />
                        <span>Blanc</span>
                    </li>
                </ul>

            </div>
        </div>
</section>