<section id="testimonial">
	<section class="testimonial">
		<div>
			<h2>Nos Témoignages</h2>
		<div id="quote-carousel" class="owl-carousel">
		<div class="t_item">
			<div>
					“There is a crazy level of class and concentration here
					with so much density and also freshness it is
					incredible. Black ink and meaty spice mark the
					plum-drenched fruit. This is a heroic wine."
			</div>
		</div>
		<div class="t_item">
				<div>

					"Fragrant and very attractive on the nose, this is a
					modern and silky wine with smart oak and a youthful tang
					of acidity on the back of the palate. Well-made and
					classic, I like it."

				</div>
			</div>
			<div class="t_item">
				<div>

					"Very impressive with a superb, floral nose, this wine
					uses quite a lot of oak and this comes through in a dry
					finish, which is currently a little out of balance with
					the rest of the experience. Nonetheless, this is a
					wonderful wine with a well- formed character."

				</div>
			</div>
		</div>
	</div>
	</section>
</section>