<section id="vineyards">
  <section class="index_vineyards">
    <video autoplay muted loop id="vineyard-video">
      <source src="img/video.mp4" type="video/mp4" />
    </video>
    <div class="vineyards_text">
      <h3>
        Nous travaillons exclusivement avec une équipe qualifiée qui produit des vins d’excellence tout en respectant le terroir et en leur conférant un caractère unique.
      </h3>
      <p><a class="further-story" href="fr/vineyards.html">NOS VIGNOBLES</a></p>
    </div>
  </section>
</section>