<section id="vision">
  <section class="vision">

		<div>
			<h2>Notre Vision</h2>

			<h3>
				Chaque vin est authentique. Mais ce n’est pas mesurable par le prix.
			</h3>

			<p>
				Nous pensons que tout le monde a le droit d’avoir accès à des vins d’exception à un bon prix sans compromis de goût ni de qualité. Nous nous engageons à produire des vins fins tout en ayant le meilleur rapport qualité prix. Nous voulons créer une opportunité pour chacun de pouvoir profiter de cette expérience unique.
			</p>
		</div>

	</section>

	<section class="values">

		<div class="values_content">
			<div class="flex">
				<h2>Nos Valeurs</h2>


				<p>
				<h3>INTEGRITE</h3>
				l’Honnêteté est notre priorité
				</p>

				<p>
				<h3>QUALITE</h3>
				L’équilibre est ce qu’il y a de mieux</p>

				<p>
				<h3>PASSION</h3>
				Partager notre amour</p>

				<p>
				<h3>PERFECTIONNER</h3>
				Etre meilleur chaque jour</p>

			</div>

			<div class="flex"><img class="values-img" src="img/values.jpg" />
			</div>
		</div>

	</section>
</section>