<section id="wine-detail">
	{% include fr/nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>Nos Vins</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>Pomerol</h3>
							<p>Pomerol se trouve juste A- l'est et au nord-est de Libourne. C'est la plus petite de toutes les grandes appellations de Bordeaux, avec seulement 800 hectares de vignes Pomerol. Les vins de cette petite zone rendent le meilleur du Merlot. Les sols de la région de Pomerol sont très diversifiés, avec un mélange de gravier, de sable et d'argile dispersé sur le plateau. Les vins de Pomerol sont connus pour être d'une élégance, d'une richesse et d'une complexité maximales.
							</p>
							<p><a href="assets/fr/LesTrois-AOCPomerol.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Fronsac</h3>
							<p>Comme Saint-Emilion, à quelques kilomètres à l'est, Fronsac présente un paysage pittoresque fait de forêts et de collines. La composition du sol confère aux vignes une certaine résistance aux températures plus élevées. Le merlot est le cépage dominant à Fronsac et est régulièrement associé au cabernet franc. Le malbec est utilisé pour ajouter de la complexité aux vins. Fronsac est réputé pour produire des vins sérieux, de grande garde et de grande valeur.
							</p>
							<p><a href="assets/fr/LesTrois-AOCFronsac.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Lussac </br>Saint-Émilion</h3>
							<p>Situé sur la rive droite de la Garonne et de la Dordogne, le Saint-Émilion de Lussac, en forme d'amphithéâtre, exposé au sud, offre à ses vignobles n drainage naturellement bon et un ensoleillement important. Le terroir de Lussac se caractérise par la diversité de ses sols, répartis entre les plateaux, les flancs des collines, et les petites vallées, les vignes poussent sur des sols principalement argilo-calcaires.es vins de Lussac expriment des arômes délicieux et intenses avec des notes de fruits rouges et des notes sous-jacentes de réglisse, de pruneau et d'épices.
							</p>
							<p><a href="assets/fr/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Médoc</h3>
							<p>Le médoc est l’une des principales appellations de la rive gauche situé au nord de Bordeaux. Il est composé principalement de sable, d’argile et de grave. De plus, la teneur élevée en grave permet un bon drainage naturel. Les vins produits dans le médoc, sont délicats, ils délivrent des arômes de cassis, de mûre, de cerise noire, de vanille, de grain café, d’épices et de réglisse.</p>
							<p><a href="assets/fr/LesTrois-AOCMedoc.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Bordeaux</h3>
							<p>Situé sur la rive droite de la Garonne et de la Dordogne, le Saint-Émilion de Lussac, en forme d'amphithéâtre, exposé au sud, offre à ses vignobles un drainage naturellement bon et un ensoleillement important. Le terroir de Lussac se caractérise par la diversité de ses sols, répartis entre les plateaux, les flancs des collines, et les petites vallées, les vignes poussent sur des sols principalement argilo-calcaires. Les vins de Lussac expriment des arômes délicieux et intenses avec des notes de fruits rouges et des notes sous-jacentes de réglisse, de pruneau et d'épices.
							</p>
							<p><a href="assets/fr/LesTrois-AOCBordeaux.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>

<section id="video-section" style="margin-top: 200px;">
  <style>
    #video-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150vh;
      position: relative;
    }
    
    #video-section .video-container {
      position: relative;
    }
    
    #video-section h3 {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      padding: 10px 20px;
      width: 80%;
      text-align: center;
    }
    
    #video-section video {
      max-width: 100%;
      max-height: 100%;
    }
  </style>

  <div class="video-container">
    <h2>Les Trois Collection</h2>
    <video src="assets/Videos/LesTroisFR_V2.mp4" height="600" width="auto" controls autoplay></video>
  </div>
</section>