<section id="wine-detail">
	{% include fr/nav.html %}
	<div class="wines">
		<div class="wine_title">
			<h1>Nos Vins</h1>
		</div>
		<div id="owl-exp" class="owl-carousel">

			<div class="owl-slide" data-hash="Pomerol" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/blackbottle.png"></div>
					<div class="wine_desc">
						<div>
							<h3>Pomerol</h3>
							<p>Pomerol se situe au nord-est de Libourne. C’est la plus petite des appellations viticoles bordelaises, avec seulement 800 hectares de vignes en Pomerol. C’est sur cette appellation que le merlot s’exprime le mieux. Les sols de la région de Pomerol sont très divers avec un mélange de grave, de sable et d’argile dispersés à travers le plateau. Les vins de Pomerol sont connus pour leur élégance, leur richesse et complexité.
							</p>
							<p><a href="assets/fr/LesTrois-AOCPomerol.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>

					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Fronsac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/redbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Fronsac</h3>
							<p>Fronsac est située à l’est de Bordeaux et produit principalement du merlot. C’est l’une des régions les plus pittoresques, car elle offre une vue panoramique imprenable sur ses collines couvertes de vignes. Le terroir est composé de calcaire et d’argile, donnant aux vignes une certaine résistance pendant les périodes de sécheresse produisant des vins mieux équilibrés par rapport aux autres. Cette région propose des vins complexes et riches en tannin. Ce sont des vins d’assemblages composés en général de merlot, cabernet-Franc, cabernet sauvignon et de malbec.
							</p>
							<p><a href="assets/fr/LesTrois-AOCFronsac.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

			<div class="owl-slide" data-hash="Lussac" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/goldbottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Lussac </br>Saint-Émilion</h3>
							<p>Lussac Saint-Emilion est un des 4 satellites de Saint-Emilion et fait partie de la région du Libournais. L’appellation et sa position unique permet un ensoleillement important et un climat idéal. Cette région est située sur un terrain surélevé et son terroir possède divers types de sols allant de l’argile au calcaire en passant par des sols limoneux et sableux. Lussac Saint-Emilion propose des vins aux arômes intenses avec des notes de fruits rouges et des notes sous-jacentes de réglisse, de pruneau et d’épices.
							</p>
							<p><a href="assets/fr/LesTrois-AOCLussacSaintEmilion.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a>
							</p>
						</div>
					</div>

				</div>
			</div>


			<div class="owl-slide" data-hash="Medoc" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/greenbluebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Médoc</h3>
							<p>Le médoc est l’une des principales appellations de la rive gauche situé au nord de Bordeaux. Il est composé principalement de sable, d’argile et de grave. De plus, la teneur élevée en grave permet un bon drainage naturel. Les vins produits dans le médoc, sont délicats, ils délivrent des arômes de cassis, de mûre, de cerise noire, de vanille, de grain café, d’épices et de réglisse.</p>
							<p><a href="assets/fr/LesTrois-AOCMedoc.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="owl-slide" data-hash="Bordeaux" data-dot="01">
				<div class="wine_item">
					<div class="wine_bg"><img src="img/whitebottle.png" alt=""></div>
					<div class="wine_desc">
						<div>
							<h3>Bordeaux</h3>
							<p>L’appellation Bordeaux couvre l’ensemble de la région viticole Bordelaise, c’est une grande zone géographique avec une grande variété de sols et de terroirs. Ainsi, les vins de cette région offrent des possibilités infinies de saveurs pour satisfaire tous les palais. Les vins de Bordeaux sont destinés à être partagé.
							</p>
							<p><a href="assets/fr/LesTrois-AOCBordeaux.pdf" target="_blank">TÉLÉCHARGER LA BROCHURE</a></p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="customNav">
	</div>

	<a class="prev-slide">SEE PREV</a>
	<a class="next-slide">SEE NEXT</a>
</section>