
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <base href="{{ site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="css/custom.css" />
    <script src="js/custom.js"></script>


  </head>
  <body>


    <!-- Header Start -->

  <!-- header close -->


{{ content }}


    <footer>
    <div class="logo">
      <a class="footer-brand" href="index.html">
        <img src="img/footerlogo.png" alt="Logo" />
      </a>
    </div>
    <div class="socialmedia">
      CONNECT WITH US
      <a href="#" class="facebook">
        <a href="https://facebook.com/lestroiscollection" class="facebook" target="_blank">
          <img src="img/facebook.svg" width="20"></a>
    </div>
  </footer>
                       
    </body>
</html>